In [58]:
nama = "Muhammad Ogin Hasanuddin"

In [59]:
type(nama)

str

In [4]:
umur = str()

In [5]:
type(umur)

str

In [60]:
class Person:
    # mengisi disini
    pass

In [61]:
person1 = Person()

In [62]:
person1.name = 'Jhon'

In [63]:
print(person1.name)

Jhon

In [64]:
person2 = Person()

In [65]:
print(person2.name)

AttributeError: 'Person' object has no attribute 'name'

In [12]:
class Person: 
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [13]:
person = Person('Jhon', 25)

In [14]:
print(person.name)

Jhon

In [15]:
print(person.age)

25

In [16]:
class Person: 
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def greet(self):
        return f"Hi, it's {self.name}."

In [17]:
person = Person('Jhon', 25)

In [18]:
print(person.greet())

Hi, it's Jhon.

In [19]:
greet = person.greet()

In [20]:
print(greet)

Hi, it's Jhon.

In [21]:
class Person: 
    counter = 0
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def greet(self):
        return f"Hi, it's {self.name}."

In [22]:
Person.counter

0

In [23]:
person = Person('Jhon', 25)

In [24]:
person.counter

0

In [25]:
class Person: 
    counter = 0
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.counter += 1 # Person.counter = Person.counter + 1
        
    def greet(self):
        return f"Hi, it's {self.name}."

In [26]:
Person.counter

0

In [27]:
p1 = Person('Jhon', 25)

In [28]:
p2 = Person('Jane', 22)

In [29]:
print(Person.counter)

2

In [30]:
class Person: 
    counter = 0
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.counter += 1 # Person.counter = Person.counter + 1
        
    def greet(self):
        return f"Hi, it's {self.name}."
    
    @classmethod
    def create_anonymous(cls):
        return Person('Anonymous', 22)

In [32]:
class TemperatureConverter:
    @staticmethod
    def celcius_to_fahrenheit(c):
        return 9*c/5+32
    
    @staticmethod
    def fahrenheit_to_celcius(f):
        return 5*(f-32)/9

In [33]:
f = TemperatureConverter.celcius_to_fahrenheit(30)

In [34]:
print(f)

86.0

In [39]:
class Employee(Person):
    salary = 3000
    def __init__(self, name, age, job_title):
        super().__init__(name, age)
        self.job_title = job_title

In [40]:
print(type(Employee.salary))

<class 'int'>

In [41]:
print(Employee.salary)

3000

In [42]:
p1 = Employee('Jhon', 25, "programmer")

In [43]:
p2 = Person('Jane', 22)

In [44]:
p2.salary

AttributeError: 'Person' object has no attribute 'salary'

In [45]:
p1.salary

3000

In [50]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def greet(self):
        return f"Hi, it's {self.name}."

In [51]:
class Employee:
    def __init__(self, name, job_title):
        self.name = name
        self.job_title = job_title
        
    def greet(self):
        return f"Hi, it's {self.name}."

In [52]:
class Employee(Person):
    def __init__(self, name, job_title):
        self.name = name
        self.job_title = job_title

In [56]:
employee = Employee('Jhon', 'Programmer')

In [57]:
print(employee.greet())

Hi, it's Jhon.

In [53]:
x = 5

In [54]:
x = 3

In [55]:
print(x)

3