## Introduction

In this set of exercises we will work with the [Wine Reviews dataset](https://www.kaggle.com/datasets/zynicide/wine-reviews).

Run the following cell to load your data and some utility functions

In [ ]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)
print("Setup complete.")

Look at an overview of your data by running the following line.

In [ ]:
reviews.head()

## Exercise

## 1.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

In [ ]:
# Your code here
desc = ___

# Check your answer
desc

klik untuk melihat jawaban
<!-- desc = reviews.description
or

desc = reviews["description"]
desc is a pandas Series object, with an index matching the reviews DataFrame. In general, when we select a single column from a DataFrame, we'll get a Series. -->

## 2.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [ ]:
# Your code here
first_description = ____

# Check your answer
first_description

klik untuk melihat jawaban
<!-- first_description = reviews.description.iloc[0]
Note that while this is the preferred way to obtain the entry in the DataFrame, many other options will return a valid result, such as reviews.description.loc[0], reviews.description[0], and more! -->

## 3. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [ ]:
# Your code here
first_row = ____

# Check your answer
first_row

klik untuk melihat jawaban
<!-- To obtain a specific row of a DataFrame, we can use the iloc operator.
first_row = reviews.iloc[0] -->

## 4.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

In [ ]:
# Your code here
first_descriptions = ____

# Check your answer
q4.check()
first_descriptions

klik untuk melihat jawaban
<!-- first_descriptions = reviews.description.iloc[:10]
Note that many other options will return a valid result, such as desc.head(10) and reviews.loc[:9, "description"]. -->

## 5.

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In other words, generate the following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

In [ ]:
sample_reviews = ____

# Check your answer
sample_reviews

klik untuk melihat jawaban
<!-- indices = [1,2,3,5,8]
sample_reviews = reviews.iloc[indices] -->

## 6.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [ ]:
df = ____

# Check your answer
df

klik untuk melihat jawaban
<!-- cols = ['country', 'province', 'region_1', 'region_2']
indices = [0, 1, 10, 100]
df = reviews.loc[indices, cols] -->

## 7.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records. 

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.loc[0:999]`.

In [ ]:
df = ____

# Check your answer
df

klik untuk melihat jawaban

<!-- cols = ['country', 'variety']
df = reviews.loc[:99, cols]
or

cols_idx = [0, 11]
df = reviews.iloc[:100, cols_idx] -->

## 8.

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`. Hint: `reviews.country` equals what?

In [ ]:
italian_wines = ____

# Check your answer
italian_wines

klik untuk melihat jawaban
<!-- italian_wines = reviews[reviews.country == 'Italy'] -->

## 9.

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [ ]:
top_oceania_wines = ____

# Check your answer
top_oceania_wines

<details><summary>klik untuk melihat jawaban</summary>
<p>

```python
top_oceania_wines = reviews.loc[
    (reviews.country.isin(['Australia', 'New Zealand']))
    & (reviews.points >= 95)
]
```
    
</p>
</details>